script(id="inGoingMessagesTemplate" type="text/html")
  .incoming_msg
              .incoming_msg_img
                img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
              .received_msg
                .received_withd_msg
                  p
                    | {{text}}
                  span.time_date  {{createdAt}}