extends layout.pug
  
block content
  .container
    .messaging
      .inbox_msg
        .inbox_people
          .headind_srch
            .recent_heading
              h4 Recent
            .srch_bar
              .stylish-input-group
                input.search-bar(type='text' placeholder='Search')
                span.input-group-addon
                  button(type='button')
                    i.fa.fa-search(aria-hidden='true')
          .inbox_chat
            .chat_list.active_chat
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
            .chat_list
              .chat_people
                .chat_img
                  img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                .chat_ib
                  h5
                    | Sunil Rajput 
                    span.chat_date Dec 25
                  p
                    | Test, which is a new approach to have all solutions
                    | astrology under one roof.
          
        .mesgs
          .msg_history  
          .type_msg
            .input_msg_write
              form(id="messageForm")
                div(class="row_emoji")
                  div(class="span")
                    textarea(id="emojiArea")
                  
                    button.msg_send_btn(type='button submit' name = "submit")
                      i.fa.fa-paper-plane-o(aria-hidden='true') submit
              
                    button.msg_location_btn(type='button' name = "location")
                      i.fa.fa-map-marker(aria-hidden='true') Share Location

                  
  
  include partials/outGoingMessage
  include partials/inGoingMessage
  include partials/locationMessage
block scripts
  script(src = "/socket.io/socket.io.js")
  script(src = "/javascripts/bundle.js")
  