extends layout.pug
block styles
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/pathCssEmojiArea")
  link(rel="stylesheet", href="/pathCssEmojiOne")
block content
  .container
    .messaging
      .inbox_msg
        .inbox_people
        
          
        .mesgs
          .msg_history  
          .type_msg
            .input_msg_write
              form(id="messageForm")
                div(class="row_emoji")
                  div(class="span")
                    textarea(id="emojiArea" required)
                  
                    button.msg_send_btn(type='button submit' name = "submit" class= "btn btn-lg btn-primary")
                      i.fa.fa-paper-plane-o(aria-hidden='true') submit
              
                    button.msg_location_btn(type='button' name = "location" class = "btn btn-lg btn-primary")
                      i.fa.fa-map-marker(aria-hidden='true') Share Location

                  
  
  include partials/outGoingMessage
  include partials/inGoingMessage
  include partials/locationMessage
  include partials/roomData
block scripts
  script(src = "/javascripts/chatBundle.js")