extends layout

block content
  h1 ChatApp
  form(id = "messageForm")
    input(type = "text", name = "message" placeholder = "message")
    button(type = "submit") Send
  button(type = "submit" id = "shareLocation") Share location

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chat.js")